.events-ideathon-201504 {
  // STEP番号カラム
  .step-column {
    font-weight: bold;
    margin-top: 10px;
    width: 100px;
  }

  .step-title {
    font-weight: bold;
  }

  // 説明文章
  .description {
    color: #666;
    margin-bottom: 10px;
  }

  .photos {
    margin-bottom: 10px;
  }
}